.btnCat {
    -fx-background-color: #FFFDD0;
    -fx-border-color: #000000;
    -fx-border-width: 3 3 0 3;
    -fx-font-family: "Calibri";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-cursor: hand;
}

.reset {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 3 3 3 3;
    -fx-font-family: "Calibri";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-cursor: hand;
}

.check-box {
    -fx-font-family: "Calibri";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.submit {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 3 3 3 3;
    -fx-font-family: "Calibri";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-pref-width: 220;
    -fx-pref-height: 50;
    -fx-cursor: hand;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1;
}